.wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  padding-top: 22.3rem;
  transition: all 0.3s ease;
}

.wrapper_size {
  width: 52rem;
  height: 65.3rem;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  transition: all 0.3s ease;
}

.flex_center_column {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  margin-bottom: 3rem;
}
.wrapper_image {
  position: relative;
  width: 20rem;
  height: 19rem;
}
.wrapper_logo_name {
  position: relative;
  width: 20rem;
  height: 5.5rem;
  margin-top: 3rem;
}

.logo_welcome {
  color: var(--black-333236);
}
.wrapper_middle {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  color: var(--black-333236);
  gap: 1.6rem;
  width: 100%;
  transition: all 0.3s ease;
}
.wrapper_width {
  width: 100%;
}
.login_font {
  padding-bottom: 0.8rem;
  position: relative;
}
.hide_icon {
  width: 2.4rem;
  height: 2.4rem;
  position: absolute;
  cursor: pointer;
  left: 48rem;
  top: 4.2rem;
  z-index: 1;
  transition: all 0.3s ease;
}
.wrapper_bottom {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 2.4rem;
  padding-top: 0.8rem;
  width: 100%;
}
.wrapper_floor {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 1rem;
}
.link {
  color: var(--violet-5534DhA);
  text-decoration: underline;
  cursor: pointer;
}

.link:hover {
  color: darkblue;
}

.link:visited {
  color: var(--red-D6173A);
}
@media (max-width: 1023px) {
  .wrapper {
    padding-top: 24.95rem;
  }
}
@media (max-width: 743px) {
  .wrapper {
    padding-top: 8.87rem;
  }
  .wrapper_size {
    width: 35.1rem;
    height: 63.5rem;
  }
  .wrapper_middle {
    gap: 0.8rem;
  }
  .hide_icon {
    left: 31rem;
  }
}
