.button {
  border: none;
  cursor: pointer;
  border-radius: 0.8rem;
  font-family: var(--font-family);
}

/*로그인 버튼*/
.active {
  cursor: pointer;
}

.inactive {
  background-color: var(--gray-D9D9D9);
  cursor: not-allowed;
}

/*variant*/

.loginButton,
.acceptButton,
.confirmButton {
  background-color: var(--violet-5534DhA);
  color: var(--white-FFFFFF);
}

.rejectButton,
.cancelButton,
.inputButton,
.deleteButton {
  background-color: var(--white-FFFFFF);
  color: var(--violet-5534DhA);
}

/*size*/

.login-large {
  padding: 1.2rem 23.65rem;
}

.login-small {
  padding: 1.2rem 15.2rem;
}

.accept-large {
  padding: 0.7rem 4.4rem;
}

.accept-medium {
  padding: 0.4rem 2.95rem;
}

.accept-small {
  padding: 0.3rem 2.35rem;
}

.reject-large {
  padding: 0.7rem 4.4rem;
}

.reject-medium {
  padding: 0.4rem 2.95rem;
}

.reject-small {
  padding: 0.3rem 2.35rem;
}

.cancel-large {
  padding: 0.9rem 5.65rem;
}

.cancel-small {
  padding: 1.1rem 4.6rem;
}

.confirm-large {
  padding: 0.9rem 5.65rem;
}

.confirm-small {
  padding: 1.1rem 4.6rem;
}

.input-large {
  padding: 0.5rem 3.15rem;
}

.input-small {
  padding: 0.7rem 3.1rem;
}

.delete-large {
  padding: 0.4rem 2.95rem;
}

.delete-small {
  padding: 0.7rem 1.55rem;
}
