.column {
  width: 35.4rem;
  background-color: var(--gray-FAFAFA);
  border-radius: 0.6rem;
  display: flex;
  flex-direction: column;
  border-right: 1px solid var(--gray-D9D9D9);

  height: auto; /* 또는 min-height 설정 */
  overflow: visible; /* 중요 */
}

.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-left: 1.6rem;
  padding-right: 1.6rem;
  padding-top: 2.2rem;
}

.titleWrapper {
  display: flex;
  align-items: center;
  gap: 1.2rem;
}

.dotTitle {
  display: flex;
  align-items: center;
  gap: 0.8rem;
}

.dot {
  width: 0.8rem;
  height: 0.8rem;
  background-color: #5534da;
  border-radius: 9999px;
}

.cardCount {
  width: 2rem;
  height: 2rem;
  border-radius: 0.4rem;
  background-color: #eeeeee;
  color: #787486;
  font-size: 1.2rem;
  line-height: 1.8rem;
  font-weight: 500;
  display: flex;
  align-items: center;
  justify-content: center;
}

.settingsButton {
  cursor: pointer;
  transition: opacity 0.2s ease;
}
.settingsButton:hover {
  opacity: 0.7;
}

.addButtonWrapper {
  padding-left: 2rem;
  padding-right: 2rem;
  padding-top: 2.5rem;
  padding-bottom: 1.6rem;
}

.addButton {
  border-radius: 0.6rem;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: 0.9rem;
  padding-bottom: 0.9rem;
}

.addIcon {
  width: 2.2rem;
  height: 2.2rem;
  flex-shrink: 0;
  display: block;
}

.cardImage {
  display: block;
  width: auto;
  height: auto;
}
.card_scroll {
  overflow-y: auto;
  max-height: calc(100vh - 300px);
  padding-right: 0.5rem;
}
@media (max-width: 1023px) {
  .column {
    width: 58.4rem;
    border-right: none;
  }
  .cardImage {
    margin-left: 9rem;
    margin-top: 5.3rem;
  }
  .titleWrapper {
    padding-left: 1rem;
  }
  .settingsButton {
    padding-right: 1rem;
  }
  .addColumnButton {
    padding-top: 2rem;
  }
}

@media (max-width: 767px) {
  .addButton {
    height: 3.2rem;
    padding: 0.9rem 0;
    align-items: center;
    justify-content: center;
    display: flex !important;
  }
  .addIcon {
    display: inline-flex !important;
    width: 2.2rem;
    height: 2.2rem;
    align-items: center;
    justify-content: center;
  }
  .cardImage {
    margin-top: 26rem;
    margin-left: 15.1rem;
  }
  .column {
    width: 100%;
  }
}
.card_list {
  max-height: 100rem;
  overflow-y: auto;
  display: flex;
  flex-direction: column;
  gap: 0.6rem;
}
