.container {
  min-height: calc(100vh - 7rem);
  display: flex;
  /* min-height: 100vh; */
  background-color: var(--gray-FAFAFA);
}

.main {
  flex: 1;
}

.inviteSection {
  background-color: var(--white-FFFFFF);
  padding: 2.4rem 4rem 6rem 4rem;
  border-radius: 1.6rem;
  box-shadow: 0 0 6px rgba(0, 0, 0, 0.05);
  max-width: 96rem;
  margin-top: 7.4rem;
}

.inviteTitle {
  font-size: 1.6rem;
  font-weight: 500;
  margin-bottom: 2.4rem;
  color: var(--black-333236);
}

.inviteBox {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 2.4rem;
  color: #8c8c8c;
}

.inviteMessage {
  font-size: 1.4rem;
}
.addColumnWrapper {
  padding-top: 6.8rem;
  padding-left: 2.4rem;
}
@media (max-width: 1023px) {
  .container {
    flex-direction: column;
    align-items: center;
    overflow-y: auto;
    height: auto;
  }
  .addColumnWrapper {
    padding-left: 2.4rem;
    padding-right: 2.4rem;
  }
  .addColumnButton {
    padding-left: 18rem;
    padding-right: 18rem;
    margin-top: -5.6rem;
  }
}

@media (max-width: 767px) {
  .addColumnWrapper {
    padding-left: 2.4rem;
    padding-right: 2.4rem;
  }
  .addColumnButton {
    padding-left: 6.1rem;
    padding-right: 6.1rem;
    padding-top: 1.9rem;
  }
}
