.edit_container {
  background-color: var(--gray-FAFAFA);
  display: flex;
  flex-direction: column;
  gap: 1.6rem;
  margin-left: 2rem;
}

.button_hover:hover {
  background-color: #ededed;
}

.button_hover:active {
  transform: scale(0.95);
}
