@import 'tailwindcss';
html {
  font-size: 62.5% !important;
}
body {
  font-size: 1.6rem !important;
  line-height: 1.5;
}
:root {
  --font-family: 'Pretendard', sans-serif;

  /* Black & Gray Colors*/
  --black-000000: #000000;
  --black-171717: #171717;
  --black-333236: #333236;
  --black-4B4B4B: #4b4b4b;
  --gray-787486: #787486;
  --gray-9FA6B2: #9fa6b2;
  --gray-D9D9D9: #d9d9d9;
  --gray-EEEEEE: #eeeeee;
  --gray-FAFAFA: #fafafa;
  --white-FFFFFF: #ffffff;

  /* Colors */
  --violet-5534DhA: #5534da;
  --violet-8: #f1effd;
  --red-D6173A: #d6173a;
  --green-7AC555: #7ac555;
  --purple-760DDE: #760dde;
  --orange-FFA500: #ffa500;
  --blue-76A5EA: #76a5ea;
  --pink-E876EA: #e876ea;
}

/* 3xl */
.text-3xl-bold {
  font-family: var(--font-family);
  font-size: 32px;
  line-height: 42px;
  font-weight: 700;
}

.text-3xl-semibold {
  font-family: var(--font-family);
  font-size: 32px;
  line-height: 42px;
  font-weight: 600;
}

/* 2xl */
.text-2xl-bold {
  font-family: var(--font-family);
  font-size: 24px;
  line-height: 32px;
  font-weight: 700;
}

.text-2xl-semibold {
  font-family: var(--font-family);
  font-size: 24px;
  line-height: 32px;
  font-weight: 600;
}

.text-2xl-medium {
  font-family: var(--font-family);
  font-size: 24px;
  line-height: 32px;
  font-weight: 500;
}

.text-2xl-regular {
  font-family: var(--font-family);
  font-size: 24px;
  line-height: 32px;
  font-weight: 400;
}

/* xl */
.text-xl-bold {
  font-family: var(--font-family);
  font-size: 20px;
  line-height: 32px;
  font-weight: 700;
}

.text-xl-semibold {
  font-family: var(--font-family);
  font-size: 20px;
  line-height: 32px;
  font-weight: 600;
}

.text-xl-medium {
  font-family: var(--font-family);
  font-size: 20px;
  line-height: 32px;
  font-weight: 500;
}

.text-xl-regular {
  font-family: var(--font-family);
  font-size: 20px;
  line-height: 32px;
  font-weight: 400;
}

/* 2lg */
.text-2lg-bold {
  font-family: var(--font-family);
  font-size: 18px;
  line-height: 26px;
  font-weight: 700;
}

.text-2lg-semibold {
  font-family: var(--font-family);
  font-size: 18px;
  line-height: 26px;
  font-weight: 600;
}

.text-2lg-medium {
  font-family: var(--font-family);
  font-size: 18px;
  line-height: 26px;
  font-weight: 500;
}

.text-2lg-regular {
  font-family: var(--font-family);
  font-size: 18px;
  line-height: 26px;
  font-weight: 400;
}
/* lg */
.text-lg-bold {
  font-family: var(--font-family);
  font-size: 16px;
  line-height: 26px;
  font-weight: 700;
}

.text-lg-semibold {
  font-family: var(--font-family);
  font-size: 16px;
  line-height: 26px;
  font-weight: 600;
}

.text-lg-medium {
  font-family: var(--font-family);
  font-size: 16px;
  line-height: 26px;
  font-weight: 500;
}

.text-lg-regular {
  font-family: var(--font-family);
  font-size: 16px;
  line-height: 26px;
  font-weight: 400;
}

/* md */
.text-md-bold {
  font-family: var(--font-family);
  font-size: 14px;
  line-height: 24px;
  font-weight: 700;
}

.text-md-semibold {
  font-family: var(--font-family);
  font-size: 14px;
  line-height: 24px;
  font-weight: 600;
}

.text-md-medium {
  font-family: var(--font-family);
  font-size: 14px;
  line-height: 24px;
  font-weight: 500;
}

.text-md-regular {
  font-family: var(--font-family);
  font-size: 14px;
  line-height: 24px;
  font-weight: 400;
}

/* sm */
.text-sm-semibold {
  font-family: var(--font-family);
  font-size: 13px;
  line-height: 22px;
  font-weight: 600;
}

.text-sm-medium {
  font-family: var(--font-family);
  font-size: 13px;
  line-height: 22px;
  font-weight: 500;
}

/* xs */
.text-xs-semibold {
  font-family: var(--font-family);
  font-size: 12px;
  line-height: 20px;
  font-weight: 600;
}

.text-xs-medium {
  font-family: var(--font-family);
  font-size: 12px;
  line-height: 18px;
  font-weight: 500;
}

.text-xs-regular {
  font-family: var(--font-family);
  font-size: 12px;
  line-height: 18px;
  font-weight: 400;
}

/* 달력 본체 */
.react-datepicker {
  font-family: 'Pretendard', sans-serif !important;
  font-size: 1.6rem !important;
  border: 1px solid var(--gray-D9D9D9) !important;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1) !important;
  border-radius: 1.2rem !important;
  display: flex !important;
}

.react-datepicker__month-container {
  width: 34rem !important;
}

.react-datepicker__header {
  background-color: white !important;
  border-color: rgb(223, 223, 223) !important;
}

.react-datepicker__current-month {
  color: #5534da !important;
}

.react-datepicker__header--has-time-select {
  border-radius: 0.8rem 0 0 0 !important;
}

.react-datepicker__header--time {
  border-radius: 0 0.8rem 0 0 !important;
}

.react-datepicker__time-container {
  width: 10rem !important;
  border-left: 1px solid var(--gray-D9D9D9) !important;
}

.react-datepicker__day-name,
.react-datepicker__day,
.react-datepicker__time-name {
  width: 4.8rem !important;
  line-height: 4.8rem !important;
  margin: 0 auto !important;
}

.react-datepicker__day {
  border-radius: 100% !important;
}

.react-datepicker__time-list {
  height: 27rem !important; /* ✅ 고정 */
  overflow-y: scroll !important; /* ✅ 스크롤 활성화 */
  font-size: 1.6rem !important;
  padding: 1rem !important;
}

.react-datepicker__current-month {
  font-size: 2rem !important;
}

.react-datepicker__navigation--previous,
.react-datepicker__navigation--next {
  position: absolute !important;
  top: 1rem !important;
}

.react-datepicker__navigation--next {
  right: 12rem !important;
}

.react-datepicker-time__header {
  font-size: 1.5rem !important;
  color: #5534da !important;
}

.react-datepicker__time-box {
  margin: 0 !important;
}

.react-datepicker__time-list-item {
  padding-top: 0 !important;
  padding-right: 0 !important;
  padding-bottom: 0 !important;
  padding-left: 0 !important;
}

.react-datepicker__time-list-item--selected {
  background-color: #5534da !important;
}

.react-datepicker__day--selected {
  background-color: #5534da !important;
  border-radius: 100% !important;
}

.react-datepicker__day-name {
  color: #5534da !important;
}

.react-datepicker__day--keyboard-selected {
  background-color: #5534da !important;
  border-radius: 100% !important;
  color: white !important;
}
