.edit_invite_container {
  background-color: var(--white-FFFFFF);
  max-width: 62rem;
  padding: 2.6rem 2.8rem;
}

.edit_invite_header_flex_container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.edit_invite_email_header {
  margin-top: 4rem;
  color: var(--gray-9FA6B2);
}

.edit_invite_email {
  color: var(--black-333236);
}

.invite_cancle_container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 0.1rem solid var(--gray-EEEEEE);
  padding: 1.6rem 0;
}

.edit_cancel_button {
  color: var(--violet-5534DhA);
  border-radius: 0.4rem;
}

.edit_cancel_button:hover {
  background-color: #f3f0ff;
  color: #4a2cc3;
}

.edit_cancel_button:active {
  transform: scale(0.95);
}

.button_hover:hover {
  background-color: #4227ae;
}

.button_hover:active {
  transform: scale(0.98);
}

.skeleton_email {
  background-color: #f2f2f2;
}

.skeleton_button {
  background-color: #e0e0e0;
}
