.wrapper {
  width: 33.2rem;
  height: 7rem;
  border-radius: 0.8rem;
  background-color: var(--white-FFFFFF);
  border: 0.12rem solid var(--gray-D9D9D9);
  cursor: pointer;
}
.main_wrapper {
  display: flex;
  align-items: center;
  padding: 2.2rem 2rem;
  justify-content: space-between;
  font-size: 16px;
  font-weight: 600;
}
.main_left {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.main_flex {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.main_color {
  padding-right: 1.6rem;
}
.inviter_name {
  padding-left: 21.1rem;
}
.button_wrapper {
  padding-left: 22rem;
  display: flex;
  cursor: pointer;
  width: 17.8rem;
  gap: 1rem;
  font-weight: 500;

  font-size: 1.4rem;
}
.crown_title {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 0.8rem;
}

.crown {
  padding-left: 0.8rem;
  width: 2rem;
  height: 1.6rem;
  display: flex;
  align-items: center;
}

@media (max-width: 1023px) {
  .wrapper {
    width: 24.7rem;
    height: 6.8rem;
  }
}

@media (max-width: 767px) {
  .wrapper {
    width: 100%;
    height: 5.8rem;
  }
  .main_wrapper {
    padding: 2rem;
  }
}
