.wrapper {
  width: 102.2rem;
  height: 65rem;
  background-color: var(--white-FFFFFF);
  border-radius: 0.8rem;
  margin-top: 4rem;
}

.searchdiv {
  padding: 3.2rem 2.8rem 2.4rem 2.8rem;
}

.inviteddashboardh1 {
  margin-bottom: 3.2rem;
  font-weight: 700;
  font-family: 'Pretendard';
  font-size: 2.4rem;
  line-height: 3.2rem;
}

.inputbox {
  margin-bottom: 2.4rem;
}

.invitationbox {
  padding-left: 7.6rem;
  width: 100%;
  font-size: 1.6rem;
  line-height: 2.6rem;
  font-weight: 400;
  font-family: 'Pretendard';
  overflow-y: auto;
  height: 46rem;
}

.invitationtop {
  display: grid;
  grid-template-columns: repeat(3, 28rem);
  color: var(--gray-9FA6B2);
}

.invitationlist {
  display: grid;
  grid-template-columns: 28rem 22rem 28rem;
  align-items: center;
  justify-items: start;
  padding-bottom: 2rem;
  border-bottom: 0.1rem solid var(--gray-EEEEEE);
  font-size: 1.6rem;
  font-weight: 400;
  line-height: 2.6rem;
  margin: 2rem 0;
}

.buttonsction {
  display: flex;
  gap: 1rem;
  font-size: 1.4rem;
}
