.maincontainer {
  padding-left: 18%;
  padding-right: 18%;
}
.homepagetop {
  text-align: center;
}
.homepagelogo {
  margin-top: 9.4rem;
  margin-bottom: 4.8rem;
}

.homepagemaintext {
  font-size: 7.6rem;
  line-height: 10rem;
  letter-spacing: -0.2rem;
}

.homepagespan {
  color: #5534da;
  font-size: 9rem;
  line-height: 6.5rem;
  letter-spacing: -0.1rem;
  font-family: 'Montserrat';
}

.loginbutton {
  margin-top: 11.1rem;
}

.pointer1 {
  background-color: #171717;
  width: 120rem;
  height: 60rem;
  border-radius: 0.8rem;
  display: flex;
  justify-self: center;
  margin-top: 17.8rem;
  padding-top: 12.5rem;
  padding-left: 5.4rem;
  position: relative;
}

.pointer1text {
  color: #9fa6b2;
  font-size: 2.2rem;
  text-align: left;
  font-weight: 0.5rem;
  font-family: 'Pretendard';
}

.pointer1maintext {
  margin-top: 10rem;
  font-size: 4.8rem;
  font-family: 'Pretendard';
  color: #ffffff;
  line-height: 6.4rem;
  font-weight: bold;
}

.pointer2 {
  background-color: #171717;
  width: 120rem;
  height: 60rem;
  border-radius: 0.8rem;
  display: flex;
  justify-self: center;
  margin-top: 9.2rem;
  position: relative;
}

.pointer2text {
  color: #9fa6b2;
  font-size: 2.2rem;
  text-align: left;
  font-weight: 500;
  font-family: 'Pretendard';
}

.pointer2maintext {
  margin-top: 10rem;
  font-size: 4.8rem;
  font-family: 'Pretendard';
  color: #ffffff;
  line-height: 6.4rem;
  font-weight: bold;
}

.pointer2box {
  margin-left: 64.4rem;
  margin-top: 12.3rem;
}

.linkcardlabel {
  margin-top: 9rem;
  margin-bottom: 3.6rem;
  font-size: 2.8rem;
  color: #ffffff;
  font-weight: bold;
}

.landingimage1 {
  position: absolute;
  right: 0;
  bottom: 0;
}

.landingimage2 {
  position: absolute;
  left: 10.8rem;
  bottom: 0;
}

.cardListWrapper {
  display: flex;
  flex-direction: row;
  gap: 3.3rem; /* ✅ 간격 조정 */
}

@media (max-width: 1023px) {
  .cardListWrapper {
    flex-direction: column;
    gap: 4.8rem;
  }
}
@media (max-width: 767px) {
  .cardListWrapper {
    flex-direction: column;
    gap: 4.048rem;
  }
}
