.wrapper {
  width: 102.2rem;
  height: 20.4rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.invite_section {
  width: 102.2rem;
  height: 15.2rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: nowrap;
  flex-wrap: wrap;
  gap: 1.2rem;
}
.page_button_left {
  width: 4rem;
  height: 4rem;
  display: flex;
  align-items: center;
  justify-content: center;
  border: 1px solid var(--gray-D9D9D9);
  border-top-left-radius: 6px;
  border-bottom-left-radius: 6px;
}
.page_button_right {
  width: 4rem;
  height: 4rem;
  display: flex;
  align-items: center;
  justify-content: center;
  border: 1px solid var(--gray-D9D9D9);
  border-top-right-radius: 6px;
  border-bottom-right-radius: 6px;
}
.page_wrapper {
  display: flex;
  justify-content: end;
  align-items: center;
  width: 100%;
  font-weight: 400;
  font-size: 14px;
}
.botton_gap {
  display: flex;
  padding-right: 1.6rem;
}
