/* 모달 크기 */
.small {
  padding: 2.8rem 3.9rem;
}

.large {
  padding: 3rem 2.2rem;
}

.alertSmall {
  padding: 2.5rem 3.4rem;
}

.alertLarge {
  padding: 3.7rem 3.4rem;
}

/* 메시지 영역 */
.messageSmall {
  font-size: 1.6rem;
  font-weight: 500;
  margin-bottom: 4rem;
  text-align: center;
  line-height: 2.6rem;
}

.messageLarge {
  font-size: 2rem;
  font-weight: 600;
  margin-bottom: 4.2rem;
  text-align: center;
  line-height: 3rem;
}

.alertMessageSmall {
  font-size: 1.7rem;
  font-weight: 600;
  margin-bottom: 3.8rem;
  text-align: center;
  line-height: 2.7rem;
}

.alertMessageLarge {
  font-size: 2.2rem;
  font-weight: 600;
  margin-bottom: 4.5rem;
  text-align: center;
  line-height: 3.2rem;
}

/* 버튼 크기 */
.cancelSmall {
  padding: 1.1rem 4.6rem;
}

.cancelLarge {
  padding: 1.3rem 11.3rem;
  font-size: 1.6rem;
}

.confirmSmall {
  padding: 1.1rem 4.6rem;
}

.confirmLarge {
  padding: 1.3rem 11.3rem;
  font-size: 1.6rem;
}

.alertConfirmSmall {
  padding: 1.1rem 6.5rem;
}

.alertConfirmLarge {
  padding: 1.3rem 14rem;
  font-size: 1.6rem;
}
