.nav {
  background-color: black;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.navWrapper {
  padding: 0.9375rem 5rem;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.logo {
  width: 7.5625rem;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.login {
  width: 8.375rem;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.login li a {
  text-decoration: none;
  color: var(--white-FFFFFF);
}

@media (max-width: 1919px) {
  .navWrapper {
    padding: 0.9375rem 2.5rem;
  }
}

@media (max-width: 743px) {
  .navWrapper {
    padding: 1rem 2.5rem;
  }
  .logo {
    height: 1.5625rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  .image {
    height: 1.5625rem;
  }
  .logotext {
    width: 0;
    height: 0;
  }
  .login {
    font-size: 14px;
    width: 6.875rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
}
