.flex_center_space_between {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: auto;
}
.nav_wrapper {
  height: 7rem;
  border-bottom: 0.1rem solid var(--gray-D9D9D9);
  background-color: var(--color-white);
}
.nav_left {
  cursor: pointer;
}
.dashboard_title {
  padding: 0 0.8rem 0 4rem;
}
.nav_right_center_border_setting {
  padding-right: 1.6rem;
}

.nav_right_center_border {
  padding-right: 1.6rem;
  border-right: 1px solid var(--gray-D9D9D9);
}

.button_invitation {
  padding-right: 4rem;
}
.nav_right {
  padding: 0rem 8rem 0rem 3.2rem;
}
.nickname_tag {
  width: max-content;
}
.profile_image {
  width: 4rem;
  height: 4rem;
  border-radius: 50%;
  overflow: hidden;
}
.name {
  padding-left: 1.3rem;
  cursor: pointer;
}

/*태블릿*/
@media (max-width: 1023px) {
  .flex_center_space_between {
    width: 100%;
  }
  .nav_left {
    display: none;
  }
  .nav_wrapper {
    padding-left: 4.25rem;
  }

  .button_invitation {
    padding-right: 2rem;
  }
  .nav_right {
    justify-content: flex-end;
  }
}
/*모바일*/
@media (max-width: 767px) {
  .nav_wrapper {
    padding-left: 0.75rem;
  }
  .nav_right_center_border {
    padding-right: 0.375rem;
  }
  .button_invitation {
    padding-right: 1rem;
  }
  .name {
    display: none;
  }
  .icon {
    visibility: hidden;
    width: 0;
    height: 0;
    padding: 0;
    margin: 0;
  }
}
