.flex_center_space_between {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
}
.nav_wrapper {
  height: 7rem;
  border-bottom: 0.1rem solid var(--gray-D9D9D9);
  background-color: var(--color-white);
  display: flex;
  align-items: center;
  justify-content: space-between;
  transition: width 0.3s ease, padding 0.3s ease;
}
.nav_left {
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: max-content;
}
.dashboard_title {
  padding: 0 0.8rem 0 4rem;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
  font-size: 2rem;
  font-weight: 700;
}
.right_center_wrapper {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: max-content;
  transition: width 0.3s ease, padding 0.3s ease;
}

.nav_right_center_border_setting {
  padding-right: 1.6rem;
}

.nav_right_center_border {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: max-content;
}

.nav_right {
  padding: 0rem 8rem 0rem 3.2rem;

  display: flex;
  align-items: center;
  justify-content: space-between;
  width: max-content;
  transition: width 0.3s ease, padding 0.3s ease;
}
.nickname_tag {
  width: max-content;
}
.profile_image {
  border-radius: 50%;
  overflow: hidden;
  width: 3.8rem;
  height: 3.8rem;
  transition: width 0.3s ease, padding 0.3s ease;
  position: relative;
}

.nav_right_profile {
  display: flex;
  align-items: center;
  justify-content: space-between;
  transition: width 0.3s ease, padding 0.3s ease;
  width: max-content;
}

.invited_members_wrapper {
  display: flex;
  border-right: 0.1rem solid var(--gray-D9D9D9);
  align-items: center;
  padding: 0 2.4rem 0 3.2rem;
}

.invited_profile:not(:first-child) {
  margin-left: -1rem;
}

.extra_count {
  width: 4.2rem;
  height: 4.2rem;
  border-radius: 50%;
  background-color: var(--gray-e4e4e7);
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1.6rem;
  font-weight: 500;
  color: var(--color-white);
  border: 0.2rem solid #fff;
  background-color: #bc91e7;
  margin-left: -0.6rem;
}
.dropdown {
  position: absolute;
  width: max-content;
  top: calc(100% + 0.8rem);
  right: 17rem;
  background-color: white;
  border: 1px solid var(--gray-D9D9D9);
  border-radius: 0.8rem;
  box-shadow: 0 0.4rem 1rem rgba(0, 0, 0, 0.1);
  z-index: 999;
}

/*태블릿*/
@media (max-width: 1023px) {
  .nav_wrapper {
    justify-content: space-between;
    width: 100%;
  }
  .nav_right_center_border {
    width: auto;
  }
  .nav_right_center_border_setting {
    padding-right: 1rem;
  }
  .right_center_wrapper {
    justify-content: end;
  }
  .nav_left {
    padding-left: 1rem;
  }
  .nav_right {
    padding: 0rem 4rem 0rem 2.4rem;
    justify-content: flex-end;
  }
  .invited_members_wrapper {
    padding-right: 2.4rem;
  }
  .dashboard_title {
    padding: 0 0.8rem 0 0;
  }
}
/*모바일*/
@media (max-width: 767px) {
  .nav_wrapper {
    padding-left: 0.75rem;
  }
  .nav_right_center_border {
    padding-right: 0.375rem;
  }
  .button_invitation {
    padding-right: 1rem;
  }
  .nav_right_profile {
    justify-content: flex-end;
    width: 100%;
  }
  .name {
    display: none;
  }
  .icon {
    visibility: hidden;
    width: 0;
    height: 0;
    padding: 0;
    margin: 0;
  }
  .nav_right {
    padding: 0rem 1.2rem 0rem 2.4rem;
  }

  .nav_right_center_border_setting {
    padding-right: 0.6rem;
  }
}
