.overlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 1000;
}

.modal {
  background-color: var(--white-FFFFFF);
  border-radius: 1.6rem;
  padding: 3.2rem;
  width: 100%;
  min-width: 28rem;
  max-width: 58.4rem;
}

.dashboard_title_margin {
  margin-bottom: 2.4rem;
}

.dashboard_name_margin {
  margin-bottom: 0.8rem;
}

.input {
  border-radius: 0.8rem;
}

.color_pin_container {
  display: flex;
  margin: 1.6rem 0 4rem 0;
  gap: 1.2rem;
}

.button_container {
  display: flex;
  justify-content: center;
  gap: 1.6rem;
}
