.container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 1.6rem;
}

.arrowButtons button {
  cursor: pointer;
}

.arrowButtons button:disabled {
  cursor: not-allowed;
  opacity: 0.4;
}

.image_container {
  padding: 1.1rem 1.3rem;
  border: 1px solid rgb(81, 81, 81);
}

@media (max-width: 767px) {
  .container {
    gap: 1.2rem;
  }

  .image_container {
    padding: 1rem;
  }

  .page_text {
    font-family: var(--font-family);
    font-size: 1.2rem;
    line-height: 1.8rem;
    font-weight: 400;
  }
}
